@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: var(--gradient-9); */

}



.logo {
    width: 30rem;
    padding: 1rem;
   position: relative;
   left: 50%;
   transform: translate(-50%)
}

.logo:hover {
    cursor: pointer;
}

.navbar-color {
    background-color: rgba(141, 140, 140, 0.149);
}

.nav-link:hover{
text-decoration: underline !important;
color: black !important;
}
.nav-link{
    color:#374151 !important;
    transition: 2s !important;
}


.about-p {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    text-align: center;
    font-size: 1.5rem;

}

.about {
    color: #374151;
}

.font {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: 400;
}

.carousel {
    width: 70%;
}

.carousel-div {
    margin: auto;
    margin-top: 2rem;
}

/* cards  */
.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #374151;
    border-radius: 1rem;
}

.flip-card-front {
    background: var(--gradient-15);
    color: #374151;
}

.flip-card-back {
    background: var(--gradient-15);
    color: #374151;
    transform: rotateY(180deg);
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.cards-div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}


.hide {
    display: none;
}

.nav-item:hover {
    cursor: pointer;
}

.footer {
    background-color: #374151;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.content-wrapper {
    padding-bottom: 2.5rem
}



@media screen and (max-width: 700px) {
    .logo{
        width: 24rem;
    }
  }