@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: var(--gradient-9); */
    margin-top: 10rem;
    font-size: 62.5%;
    background-color: var(--white);
}

:root {
    --main-gray: #212121;
    --light-grey: #ccc;
    --darker-grey: #333;
    --green: #2cb742;
    --purple: #6c63ff;
    --font: 'IBM Plex Sans Hebrew', sans-serif;
    --white: #fff;
}

.logo {
    width: 30rem;
    padding: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

.logo:hover {
    cursor: pointer;
}

.logo-div {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

.rec {
    position: relative;
    height: 2.1rem;
    top: 1.8rem;
    right: 2.9rem;
}


.navbar-color {
    background-color: var(--white);
    display: block;
}

.nav-link:hover {
    text-decoration: underline !important;
    color: var(--main-gray) !important;
}

.nav-link {
    color: var(--main-gray) !important;
    transition: 2s !important;
}


.about-p {
    font-family: var(--font);
    text-align: center;
    font-size: 1.5rem;
}

.about {
    color: var(--main-gray);
}

.aboutus-p {
    font-family: var(--font);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    font-size: 1.5rem;
}

.aboutus span {
    font-size: 2rem;
}

.aboutus {
    color: var(--main-gray);
    width: 60vw;
    margin: auto;
}

.font {
    font-family: var(--font);
    font-weight: 400;
}

.carousel-div{
    margin: 0;
    padding: 0;
    bottom: 1.8rem;
}


/* cards  */


.cards {
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.card {
    height: 24rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
}

.card-text {
    background-color: var(--main-gray);
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    font-family: var(--font);
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scale: 0.9;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover>.card-img {
    scale: 1;

}


#draggable {
    position: fixed;
    left: 85%;
    top: 80vh;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    z-index: 1000;
}

#draggable:hover {
    cursor: pointer;
}

.no-select {
    user-select: none;
}



.whatsapp {
    width: 3.5rem;
    height: 3.5rem;
    z-index: 1000;
    position: fixed;
    left: 92%;
    top: 84vh;
    scale: 0.6;
}

.social {}

.social-text {
    text-align: center;
    font-family: var(--font);
    color: var(--main-gray);
    font-size: 2.7rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 6rem;
    margin: 4rem 0;
    cursor: pointer;
}

a, a:visited {
    color: var(--main-gray);
}

a:hover {
    color: var(--purple);
}

.hide {
    display: none;
}

.nav-item:hover {
    cursor: pointer;
}


.illustration {
    width: 15rem;
}

.discount {
    position: relative;
    left: 0.4rem;
    scale: 0.9;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration:hover {
    -webkit-animation: bounce infinite 1s;
    animation: bounce infinite 1s;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    cursor: pointer;
}


.illustrations {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12rem;
    margin: 8rem 0;
}

.principle-text {
    font-family: var(--font);
    color: var(--main-gray);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}


.footer {
    background-color: var(--main-gray);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    color: var(--white);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.content-wrapper {
    padding-bottom: 2.5rem
}

/* chat  */
.chat {
    width: 27rem;
    max-width: 85vw;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--main-gray);
    margin: 5rem auto;
    font-family: var(--font);
}

.chat-header {
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.chat-window {
    height: 220px;
    overflow-y: scroll;
}

.message-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--light-grey);
    font-family: var(--font);
}

.message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.send-button {
    border: none;
    outline: none;
    background-color: var(--darker-grey);
    background-color: var(--green);
    color: var(--white);
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.send-button:hover {
    background-color: var(--main-gray);
    color: var(--green);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.chat-text {
    position: relative;
    width: 15em;
    margin: 2rem 1rem;
    background-color: var(--white);
    padding: 1.125rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font);
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .6), 0 0.0625rem 0.125rem rgba(0, 0, 0, .4);
}

.chat-text::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    /* left: 4rem; */
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: var(--white);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}



.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}





@media screen and (max-width: 700px) {
    .logo {
        width: 15rem;
    }

    .aboutus p {
        font-size: 1rem;
    }

    .icons {
        font-size: 3rem;
        gap: 3rem;
    }

    .social-text {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 1200px) {
    .logo {
        width: 15rem;
    }

    .rec {
        right: 1.5rem;
        bottom: 1rem;
        height: 1.2rem;
    }

    .aboutus {
        width: 80vw;
        font-size: 1.2rem;
    }

    .aboutus p {
        font-size: 1.2rem;
    }

    .whatsapp {
        left: 80%;
    }
    .carousel-div{
        bottom: 4.55rem;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --main-gray: #fff;
        --light-grey: #ccc;
        --darker-grey: #333;
        --white: #212121;
    }

    .footer , .navbar-color {
        background-color: var(--light-grey);
    }
    .gallery-btn , .about-btn , .contact-btn{
        color: var(--darker-grey) !important;
    }
    .nav-link:hover {
        text-decoration: underline !important;
        color: var(--darker-grey) !important;
    }
    .chat-text{
        color: var(--main-gray);
    }
}