@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: var(--gradient-9); */
    margin-top: 10rem;
    font-size: 62.5%;
}



.logo {
    width: 30rem;
    padding: 1rem;
    position: relative;
    left: 50%;
    border: 1px solid black;
    transform: translate(-50%)
}

.logo:hover {
    cursor: pointer;
}

.navbar-color {
    background-color: white;
    display: block;
}

.nav-link:hover {
    text-decoration: underline !important;
    color: black !important;
}

.nav-link {
    color: #374151 !important;
    transition: 2s !important;
}


.about-p {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.about {
    color: #212121;
}

.aboutus-p {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    font-size: 1.5rem;
}

.aboutus span {
    font-size: 2rem;
}

.aboutus {
    color: #212121;
    width: 60vw;
    margin: auto;
}

.font {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: 400;
}

.carousel {
    width: 70%;
}

.carousel-div {
    /* margin: auto;
    margin-top: 2rem; */
}

/* cards  */


.cards {
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.card {
    height: 24rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
}

.card-text {
    background-color: #212121;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scale: 0.9;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover>.card-img {
    scale: 1;

}


#draggable {
    /* background: rgb(37, 232, 37); */
    /* display:flex;
    align-items: center;
    justify-content:center; */
    position: fixed;
    left: 5vh;
    top: 92vh;
    width: 5rem;
    height:5rem;
    font-size:2rem;
    z-index: 1000;
  }
  #draggable:hover{
    cursor: pointer;
  }
  .no-select {
    user-select: none;
  }
  
.whatsapp{
    font-size: 3rem;
    color: white;
    background-color: #25d366;
    mix-blend-mode: multiply;
}

/* .whatsapp{
    width: 5rem;
    height: 5rem;
    background-color: rgb(37, 232, 37);
    z-index: 1000;
    position: fixed;
    left: 90%;
    top:80vh;
    transform: translate(-50%,-50%);
}

.whatsapp p{
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
} */



.hide {
    display: none;
}

.nav-item:hover {
    cursor: pointer;
}




.footer {
    background-color: #212121;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.content-wrapper {
    padding-bottom: 2.5rem
}



@media screen and (max-width: 700px) {
    .logo {
        width: 15rem;
    }
    .aboutus p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 15rem;
    }
    .aboutus {
        width: 80vw;
        font-size: 1.2rem;
    }

    .aboutus p {
        font-size: 1.2rem;
    }
}